{{- if .Values.graphite.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: graphite
  labels:
    app: graphite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: graphite
  template:
    metadata:
      labels:
        app: graphite
    spec:
      containers:
        - name: graphite
          image: "{{ .Values.graphite.image }}:{{ .Values.graphite.tag }}"
          ports:
            - name: web
              containerPort: {{ .Values.graphite.webPort }}
            - name: statsd
              containerPort: 8125
              protocol: UDP
            - name: statsd-admin
              containerPort: 8126
{{- end }}
