image:
  repository: asia-southeast1-docker.pkg.dev/test-devops-478606/test-devops-images/app
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

env:
  NODE_ENV: "production"
  STATSD_HOST: "statsd"
  STATSD_PORT: "8125"

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
