name: Trivy Security Scan (FS + IaC)

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  trivy-fs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Trivy FS scan (source code)
        uses: aquasecurity/trivy-action@v0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
          format: 'table'

  trivy-config:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Trivy IaC scan (Terraform + K8s)
        uses: aquasecurity/trivy-action@v0.33.1
        with:
          scan-type: 'config'
          scan-ref: '.'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
          format: 'table'
